[Unit]
Description=Change the wallpaper, downloading a new one if needed

[Service]
ExecStart=%h/.local/bin/update-packages

[Install]
WantedBy=multi-user.target
